<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand red" href="/">EGYCan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="/about">About Us</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle active" href="/products" id="navbarDropdown" role="button" aria-expanded="false">
                Products
            </a>
            <ul class="dropdown-menu dropdown" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/easy-open-ends">Easy Open</a></li>
                <li><a class="dropdown-item" href="twist-off-caps">Twist Off Caps</a></li>
                <li><a class="dropdown-item" href="peel-off-lids">Peel Off Lids</a></li>
                <li><a class="dropdown-item" href="/sealing-compound">Sealing Compound</a></li>
                <!-- <li><a class="dropdown-item" href="/coating">Coating</a></li> -->

            </ul>
        </li>
        </ul>
        <a href="#footer" class="scroll-link"><span class="navbar-text contact-btn">
          Contact
        </span></a>
      </div>
    </div>
  </nav>