<div class="row">
    <div class="col-md-6 ">
        <div class="product-title">Easy Open Ends</div>
        <div class="product-details">
            <p><strong style="font-size: 20px;">Shape:</strong> Round</p>
            <p><strong>Outside Print:</strong> Food-grade lacquer or white</p>
            <p><strong>Available Sizes:</strong> 52, 65, 73, 99, 153 mm</p>
            <p><strong>Inside Coat:</strong> Lacquer (Food Grade)</p>
            <p><strong>Standard Application:</strong> Food Cans</p>
        </div>
    </div>

    <div class="col-md-6 ml-2 max-xy">
        <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/easy1.jpeg" class="d-block w-100" alt="Product Image 1">
                </div>
                <div class="carousel-item">
                    <img src="img/easy2.webp" class="d-block w-100" alt="Product Image 2">
                </div>
                <!-- <div class="carousel-item">
                    <img src="img/logo_with-url.jpeg" class="d-block w-100" alt="Product Image 3">
                </div> -->
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true" style="filter: invert(1);"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true" style="filter: invert(1);"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="gallery-thumbnails">
            <div class="gallery-thumbnail" onclick="currentSlide(1)">
                <img src="img/easy1.jpeg" alt="Thumbnail 1">
            </div>
            <div class="gallery-thumbnail" onclick="currentSlide(2)">
                <img src="img/easy2.webp" alt="Thumbnail 2">
            </div>
            <!-- <div class="gallery-thumbnail" onclick="currentSlide(3)">
                <img src="img/logo_with-url.jpeg" alt="Thumbnail 3">
            </div> -->
        </div>           
    </div>
</div>