<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>


    

</head>
<body>
    <%- include('partials/navbar') %> <br>
    

    <section id="about-us">
        <div class="container-fluid py-5 shadow-lg bg-red white">
            <div class="row">
                <div class="col-md-6 d-flex flex-column align-items-center">
                    <h1>About Us</h1>
                    <br>
                    <p>
                        Egycan was founded in 2011, since became a premier seller in the packaging industry, 
                        known for its commitment to quality and innovation. We specialize in providing a wide range of 
                        high-quality packaging solutions, our dedication to sourcing from advanced manufacturers with stringent quality control 
                        ensures exceptional performance and safety. We prioritize customer satisfaction through tailored solutions, 
                        competitive pricing, and outstanding service. Serving diverse industries such as food and beverage, pharmaceuticals, 
                        and consumer goods, Egycan continues to build lasting relationships and innovate within the market. Our focus on 
                        sustainability and environmental responsibility underscores our commitment to positively impacting the communities we serve.                    </p>

                </div>
                <div class="col-md-6">
                    <img src="/img/about1.jpeg" alt="About Us" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section id="customerCentric">
        <div class="container-fluid py-5 shadow-lg white bg-white">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6 text-center">
                    <h2 class="featurette-heading fw-normal lh-1 fw-bold text-body-emphasis ">Customer Centric Approach</h2>
                    <hr class="mb-5 black">
                    <p class="lead black">To embrace our high-end products, we focus on our clients' needs and tailor our solutions to meet them.</p>
                    <img class="mb-5 img-fluid mx-auto d-block" src="img/section2.jpeg" alt="Placeholder: 500x500 picture">
                </div>
            </div>
        </div>
    </section>

    <section id="about-us" class="">
        <div class="container-fluid py-5 shadow-lg white color-fade">
            <div class="row">
                <div class="col-md-6 d-flex flex-column align-items-center">
                    <h1>Our Mission</h1>
                    <br>
                    <p>
                        At Egycan, our mission is to be the leading provider of innovative, high-quality, and sustainable packaging 
                        solutions that meet the evolving needs of our global customers. We are dedicated to delivering exceptional 
                        products and services by sourcing from the most advanced manufacturers and ensuring the highest standards 
                        of performance and safety. Our commitment to excellence, customer satisfaction, and environmental 
                        responsibility drives us to continuously innovate and improve. We strive to build lasting relationships
                        with our clients by offering tailored solutions, competitive pricing, and outstanding support, contributing
                        positively to the industries we serve and the communities we impact.                   
                    </p>

                </div>
                <div class="col-md-6">
                    <img src="/img/about1.jpeg" alt="About Us" class="img-fluid">
                </div>
            </div>
        </div>
        <hr>
    </section>





    <%- include('partials/footer') %>

</body>
</html>