<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navbar') %>


      <section>                <!--  Header-Hero START-->
          <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
            <div class="col-md-6 p-lg-5 mx-auto my-5">
              <h1 class="display-3 fw-bold red">EGYCan</h1>
              <h3 class="fw-normal text-muted mb-3">EGYCan is your onestop-shop for all your canning needs. We provide products with safety and efficiency in mind.</h3>
              <div class="d-flex gap-3 justify-content-center lead fw-normal">
                <a class="icon-link" href="about">
                  Learn more
                  <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                </a>
                <a class="icon-link" href="/products">
                 Browse Products
                  <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                </a>
              </div>
            </div>
            <div class="profduct-device shadow-sm d-none d-md-block"></div>
            <div class="prosduct-device product-device-2 shadow-sm d-none d-md-block"></div>
          </div>
        

        

         </section>                  <!--Header-Hero END-->

         <section class="justify-content-center align-items-center">
            <div class="container-fluid justify-content-center shadow-lg">
                <div class="row">
                    <div class="col-md-6 p-3" >
                        <h2 class="display-4 fw-bold">What We Do</h2>
                        <p class="lead">We are a creative agency that specializes in providing innovative solutions for businesses.
                           Our team of experts is dedicated to delivering exceptional results through our unique approach. 
                           We focus on understanding your business goals and crafting tailored solutions to meet your needs. 
                           From strategy to execution, we are committed to delivering impactful results that drive success.</p>
                    </div>
                    <div class="col-md-6 p-3">
                      <img src="img/section2.jpeg" class="img-fluid" alt="What We Do Image">
                    </div>
                </div>
            </div>
        </section>
        <br>
        <br>
        <section>
          <div class="container-fluid bg-grey shadow-sm long justify-content-center">
              <div class="row">
                  <div class="col-md-12 text-center p-5">
                      <h2 class="display-4 fw-bold white">Our Mission</h2>
                  </div>
              </div>
              <br>
              <div class="row justify-content-center white">
                  <div class="col-md-4 text-center p-3" >
                      <h3 class="h4 fw-bold">Innovation</h3>
                      <p class="lead">Egycan is committed to continuously innovating and improving its packaging solutions
                         to meet the evolving needs of its global customers</p>
                  </div>
                  <div class="col-md-4 text-center p-3 shadow-sm">
                      <h3 class="h4 fw-bold white">Highest Standards</h3>
                      <p class="lead white">We ensure the highest standards of performance and safety in our products by sourcing from advanced manufacturers</p>
                  </div>
                  <div class="col-md-4 text-center p-3">
                      <h3 class="h4 fw-bold">Tailored Solutions</h3>
                      <p class="lead">Building lasting relationships with clients by offering tailored solutions, competitive pricing, and outstanding support</p>
                  </div>
              </div>
          </div>
          <br><br>
        </section>
        <br><br>

        <!-- <div class="px-4 pt-5 my-5 text-center border-bottom">
          <h1 class="display-4 fw-bold text-body-emphasis">Centered title</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat autem ipsam praesentium itaque 
              eaque tempora ex vero dolore laboriosam, enim consequuntur minima, officiis atque corrupti consequatur, corporis a
               nesciunt alias.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
              <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">one button</button>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4">another button</button>
            </div>
          </div>
          <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
              <img src="img/logo_with-url.jpeg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
            </div>
          </div>
        </div>

        <div class="album py-5 bg-body-tertiary">
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button
                      </div>
                      <small class="text-body-secondary">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-body-secondary">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                       <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-body-secondary">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        
        <br><br><br><br>
         -->
        <%- include('partials/footer') %>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        <script src="/js/index.js"></script>
    </body>
</html>