<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>


    

</head>
<body>
    <%- include('partials/navbar') %>

    <h2 class="text-center pt-50 red">Explore Our Products</h2>
    <hr>
    <section class="responsive-section container-fluid py-5 shadow-lg">
        <div class="container shadow-lg">
            <div class="row justify-content-center">
                <div class="col-md-5 mb-4 px-3">

                    <a href="/easy-open-ends">
                        <div class="image-box">
                            <img src="img/easy1.jpeg" class="img-fluid" alt="Image 1">
                            <div class="overlay-text">
                                <div class="text-main lead">Easy Open Lids</div>
                                <div class="text-extra"> 52, 65, 73, 99, 153 mm</div>
                            </div>
                        </div>
                    </a>
                    
                </div>
                <div class="col-md-5 mb-4 px-3">
                    <a href="/twist-off-caps">
                    <div class="image-box">
                        <img src="img/twist1.png" class="img-fluid" alt="Image 2">
                        <div class="overlay-text">
                            <div class="text-main">Twist Off Caps</div>
                            <div class="text-extra">38, 43, 48, 53, 58, 63, 66, 82 mm</div>
                        </div>
                    </div>
                    </a>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 mb-3 px-3">
                    <a href="/peel-off-lids">
                    <div class="image-box">
                        <img src="img/peel1.png" class="img-fluid" alt="Image 4">
                        <div class="overlay-text">
                            <div class="text-main font-weight-bolder">Peel Off Ends</div>
                            <div class="text-extra"> 65 , 73 , 83 , 99 , 127 , 153 , 189 mm</div>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-5 mb-3 px-3">
                    <a href="/sealing-compound">
                    <div class="image-box">
                        <img src="img/sealing1.jpg" class="img-fluid" alt="Image 5">
                        <div class="overlay-text">
                            <div class="text-main">Sealing Compound</div>
                            <div class="text-extra">Water-based</div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <%- include('partials/footer') %>
</body>
</html>